/* ===========================
   PROFILE
=========================== */

.profile-hero{

    padding:90px 0;

    text-align:center;

}

.profile-img{

    width:180px;
    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid var(--primary);

    margin-bottom:20px;

}

.profile-hero h1{

    font-size:42px;

    font-weight:700;

}

.profile-hero p{

    color:#6b7280;

    font-size:18px;

}

.profile-details{

    padding:80px 0;

}

.profile-card{

    background:var(--card);

    border:1px solid var(--border);

    border-radius:20px;

    padding:35px;

    text-align:center;

    transition:.3s;

}

.profile-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(236,72,153,.20);

}

.profile-card i{

    font-size:50px;

    color:var(--primary);

    margin-bottom:15px;

}

.profile-card h3{

    font-size:38px;

    color:var(--primary);

}

.learning-progress{

    padding:80px 0;

}

.progress{

    height:30px;

    border-radius:20px;

}

.progress-bar{

    background:var(--primary);

    font-size:16px;

    font-weight:600;

}